body {
  font-family: 'Raleway', sans-serif;
}

/*Angular Scroll*/

#scrollArea {
  height: 100%;
  overflow: auto;
}

#scrollArea, .container-fluid {
  padding: 0px !important;
}

/*Navigation styling*/

/*float nav links to the right*/
.navbar .navbar-nav {
  display: inline-block;
  float: right;
  vertical-align: top;
}

.navbar .navbar-nav li a, .navbar-brand.brand {
  padding-bottom: 20px;
}

/*change color of icon bar on collapse*/
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FC239D;
}

/*.navbar .navbar-collapse {
background-color: white;
color: #FC239D;
}*/

/*change navbar hover color*/

.nav.navbar-nav li a:hover {
  color: red;
}


.navbar .navbar-collapse {
  text-align: center;
  border: 0px;
}

.brand {
  font-size: 28px;
}

.nav {
  font-family: 'Raleway', sans-serif;
}

.nav-trans {
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  transition-duration: 1s;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/*display nav links on same line when nav is collapsed*/
@media (max-width: 767px) {
  .navbar.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .navbar.navbar-default .navbar-right > li,
  .navbar.navbar-default .navbar-left > li {
    display: inline-block;
  }
  /*.navbar-collapse.collapse {
  background-color: white;
  color: black;
  }*/
}

/*Typed Text Animation*/
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*Content Styling*/
.container {
  height: 100%;
}

.intro {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  position: absolute;
}

.intro > h1 {
  letter-spacing: 5px;
  font-size: 55px;
  color: white;
}

.intro > h2 {
  color: white;
  font-size: 23px !important;
  margin-top: 0;
}

.intro > hr {
  border: 2px solid white;
  width: 8%;
}

.formatting {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  color: white;
  font-weight: 500;
}

/*Background image styling*/
.splash {
  background: url('images/splash.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: overlay;
  position: relative;
}

/*Logo styling*/
.logo {
  position: absolute;
  width: 12%;
  left: 44%;
  top: 90vh;
  display: block;
}

.fancy_name {
  clear: both;
  display: inline-block;

  white-space: nowrap;
}

/*Github, Projects, and Resume Link*/
.links {
  position: relative;
  display: block;
  text-align: center;
  top: 78%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  font-family: 'Raleway', sans-serif;
}

.links > .btn {
  margin: 0px 10px;
  padding: 5px 20px;
  background: none;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.links > .btn:hover {
  color: #FC239D;
  background-color: white;
}

/****Experience Styling*****/
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}


/******Second page*******/
.page {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contact {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}


/*******Footer******/
html  {
  min-height: 100%;
  position: relative;
}

footer {
  font-family: 'Raleway', sans-serif;
  bottom: 0;
  color: white;
}

footer a:hover {
  background: none;
  color: #FC239D;
}

.btn-social {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px #FC239D;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

/*Contact form*/


/**Gallery**/
#links {
  display: none;
}

#blueimp-gallery-carousel {
  padding-top: 20px;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 75%;
  left: 20%;
  color: #fff;
  display: none;
}

.blueimp-gallery-controls > .description {
  display: block;
  color: #FC239D;
  text-decoration: bold;
}

.blueimp-gallery > .next:hover, .blueimp-gallery > .prev:hover {
  color: #FC239D;
  border: 3px solid #FC239D;
}

.blueimp-gallery {
  background-color: white;
}

/***SKILLS*/
#skills {
  text-align: center;
  background: #f0f0f0;
  color: #555;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
}

#skills > i {
  font-size: 20px;
}

.i-social {
  background-color: white;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.i-outline {
  color: #FC239D;
  font-size: 20px;
  border: solid 2px #000;
  background-color: white;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.header {
  padding-top: 20px;
}

.spacing {
  text-align: center;
  padding-top: 20px;
}

/*CONTACT FORM*/
.form {
  margin-left: 12%;
  padding-bottom: 50px;
}
