@media (max-width: 768px) {
  .navbar.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .navbar.navbar-default .navbar-right > li,
  .navbar.navbar-default .navbar-left > li {
    display: inline-block;
  }
}

.splash {
  background: url('images/splash.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: block;
  position: relative;
}
